* {
    margin: 0;
    font-family: "Times New Roman", serif;
    font-weight: lighter;
    font-size: 24px;
}

a {
    text-decoration: none;
}

body {
    background-color: #fffde8;
    display: flex;
}

div.big-boi {
    display: flex;
    flex-direction: column;
}

div.title {
    align-self: center;
    font-size: 60px;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border: 5px dotted black;
}

.left {
    display: flex;
    flex: 1 2 150;
    flex-direction: column;
    align-items: center;
    border: 2px solid pink;
}

div.ingredients {
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 30px;
    height: 100%;
    border: 2px dotted green;
}

.unordered-list {
    
}

.right {
    display: flex;
    flex-basis: 600px;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 0px;
    border: 2px solid yellow;
}

div.header-three {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 35px;
    margin-bottom: 10px;
}

div.description-text {
    align-self: flex-end;
    margin-bottom: 20px;
}

div.header-four {
    align-self: flex-start;
    font-size: 30px;
    margin-bottom: 20px;
}

.ordered-list {
    align-self: flex-start;
}


/*
* {
    margin: 0px;
    background-color: #fffde8;
}

a {
    text-decoration: none;
}

h1.header-one {
    font-family: "Brush Script MT";
    font-weight: 200;
    letter-spacing: 0.25em;
    font-size: 58px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    text-align: center;
}

h2.header-two, h3.header-four {
    font-family: "Brush Script MT";
    font-weight: 200;
    letter-spacing: 0.25em;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid grey;
    padding: 2px;
    border-radius: 7px / 7px;
    background-color: #fffabf;
}

span.header-three {
    font-family: "Brush Script MT";
    letter-spacing: 0.25em;
    font-size: 30px;
    text-align: center;
    overflow-wrap: break-word;
    margin-bottom: 10px;
    padding: 2px;
    border: 2px solid grey;
    border-radius: 7px / 7px;
    background-color: #fffabf;
}

p.main {
    margin-bottom: 30px;
    font-size: 24px;
}

div.left, span {
    display: inline-block;
    width: 250px;
    letter-spacing: -1px;
    font-size: 24px;
    margin-right: 20px;
    text-align: left;
}

div.right {
    display: inline-block;
    width: 750px;
    position: fixed;
    font-size: 24px;
    font-family: "garamond";
    letter-spacing: normal;
    text-align: left;
    padding: 10px;
}
*/