* {
    margin: 0px;
    background-color: #fffde8;
}

a {
    text-decoration: none;
}

h1.header-one {
    font-family: "Brush Script MT";
    font-weight: 200;
    letter-spacing: 0.25em;
    font-size: 58px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    text-align: center;
}

h2.header-two, h3.header-three {
    font-family: "Brush Script MT";
    font-weight: 200;
    letter-spacing: 0.25em;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid grey;
    padding: 2px;
    border-radius: 7px / 7px;
    background-color: #fffabf;
}

span.header-three {
    font-family: "Brush Script MT";
    letter-spacing: 0.25em;
    font-size: 30px;
    text-align: center;
    overflow-wrap: break-word;
    margin-bottom: 10px;
    padding: 2px;
    border: 2px solid grey;
    border-radius: 7px / 7px;
    background-color: #fffabf;
}

p.main {
    margin-bottom: 30px;
    font-size: 24px;
}

div.left, span {
    display: inline-block;
    width: 250px;
    letter-spacing: -1px;
    font-size: 24px;
    margin-right: 20px;
    text-align: left;
}

div.right {
    display: inline-block;
    width: 750px;
    position: fixed;
    font-size: 24px;
    font-family: "garamond";
    letter-spacing: normal;
    text-align: left;
    padding: 10px;
}