/* * {
    margin: 0;
}

body {
    background-color: #fffde8;
}

a {
    text-decoration: none;
}


div.links {
    display: inline-block;
    width: 150px;
    letter-spacing: -1px;
    font-size: 24px;
    word-spacing: normal;
    margin-top: 0px;
    margin-right: 80px;
    text-align: center;
}


div.main {
    font-size: 24px;
    font-family: "garamond";
    letter-spacing: normal;
    display: inline-block;
    width: 700px;
    text-align: left;
    position: fixed;
}


h1 {
    font-family: "Brush Script MT";
    font-weight: 200;
    letter-spacing: 0.5em;
    font-size: 58px;
    margin: 0;
}


p.main {
    font-size: 24px;
    margin: 80px 0;
}

p.second {
    font-size: 30px;
    letter-spacing: 0.5em;
    margin: 80px 0;
    text-align: center;
}

Inline block coding, fucking around with it for flex, gotta save it though */


* {
    margin: 0;
    font-family: "Times New Roman", serif;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

body {
    background-color: #fffde8;
    display: flex;
}

.container {
    align-items: stretch;
    display: flex;
    width: 100%;
    height: 100vh;
    
}

.right {
    display: flex;
    flex: 2;
    flex-direction: column;
    font-size: 24px;
    width: 100%;
    max-height: inherit;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(./images/food-background-wood.jpg);
    color: #fffde8;
}

div.right-one {
  display: flex;
  height: 300px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  margin-top: -200px;
}

div.right-two {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 70px;
}

.left {
    display: flex;
    flex: initial;
    flex-direction: row;
    font-size: 24px;
    text-align: center;
    width: 300px;
    height: inherit;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 77, 70);
    background-size: cover;
    background-image: url(./images/marble-background.jpg);
}

.links {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 24px;
    width: 100%;
    max-height: inherit;
    align-items: center;
}
/*
.link-a, .link-b, .link-c {
    background-color: red;
}
*/

img.imgs {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 200px;
    object-fit: cover;
}

.links img:hover {
    transform: scale(1.1);
    transition: ease-in-out;
    border-radius: 15px;
    box-shadow: 0 0 5px grey;
    opacity: 0.8;
}

/* .links img:hover {
    opacity: 1;
    height: 100%;
    width: 100%;
  }
  */