/* * {
    margin: 0;
}

body {
    background-color: #fffde8;
}

a {
    text-decoration: none;
}


div.links {
    display: inline-block;
    width: 150px;
    letter-spacing: -1px;
    font-size: 24px;
    word-spacing: normal;
    margin-top: 0px;
    margin-right: 80px;
    text-align: center;
}


div.main {
    font-size: 24px;
    font-family: "garamond";
    letter-spacing: normal;
    display: inline-block;
    width: 700px;
    text-align: left;
    position: fixed;
}


h1 {
    font-family: "Brush Script MT";
    font-weight: 200;
    letter-spacing: 0.5em;
    font-size: 58px;
    margin: 0;
}


p.main {
    font-size: 24px;
    margin: 80px 0;
}

p.second {
    font-size: 30px;
    letter-spacing: 0.5em;
    margin: 80px 0;
    text-align: center;
}

Inline block coding, fucking around with it for flex, gotta save it though */


* {
    margin: 0;
    font-family: "Ysabeu Office";
}

body {
    background-color: #fffde8;
}

.container{
    height: 800px;
    background: yellow;
    border: 2px dotted black;
    display: flex;
}

.background-img {



}

.right {
    display: flex;
    flex: 2;
    flex-direction: row;
    font-size: 24px;
    background: white;
    width: 100%;
    max-height: inherit;
    margin: 0;
    text-align: center;
    background-size: cover;
    background-image: url(./images/pizza-medium.jpg);
}

.left {
    display: flex;
    flex: initial;
    flex-direction: row;
    font-size: 24px;
    text-align: center;
    background: lightpink;
    width: 400px;
}
